h1, body {
  background-color: #CCCCCC;
}

#puzzle_area {
  display: block;
  float: center;
  width: 50%;
  clear: both;
  border: 3px solid #333333;
  margin: 10px;
  padding: 2px;
}

#number_tiles_area {
  display: block;
  float: center;
  width: 50%;
  clear: both;
  margin: 10px;
  overflow: hidden;
}
table#puzzle_grid {
  width: 100%
}

table#puzzle_grid td {
  text-align: center;
}

table#puzzle_grid table.sub_grid {
  width: 99%;
  border: 2px solid #333333;
}

table#puzzle_grid table.sub_grid td {
  border: 1px solid #555555;
  min-width: 31%;
  min-height: 31%;
}

.puzzle_tile {
  background-color: #999999;
}

.puzzle_tile.hover_over {
  background-color: #99BB99;
}

.tile {
  display: inline-block;
  float: left;
  text-align: center;
}

.number_tile {
  border: 1px solid #555555;
  margin: 2px;
  width: 10%;
  background-color: #999999;
}

.user_defined {
  background-color: #BB9999;
}

.hidden {
  display: none;
}
